.screenshot {
  max-width: 120px;
  max-height: 100px;
  object-fit: cover;
  padding-top: 15px;
}

.build-status {
  position: relative;
  top: 20px;
}

.commit-container {
  display: flex;
  align-content: stretch;
}

.commit {
  padding: 20px 0;
  margin-left: 30px;
  border-bottom: 1px #f0f0f0 solid;
  flex: 1;
}
