@import '../definitions';

.screenshot {
  max-width: 120px;
  max-height: 100px;
  object-fit: cover;
  padding-top: 15px;
  border: 1px solid $minard-lightest-gray;
  margin-top: 10px;
  margin-bottom: 10px;
}

.build-status {
  position: relative;
  top: 20px;
}

.commit-container {
  display: flex;
  align-content: stretch;
}

.commit-wrap {
  margin-left: 20px;
  padding: 20px 0;
}

.commit {
  border-top: 1px $minard-lightest-gray solid;
  flex: 1;
}

.commit-row:first-child .commit {
  border-top: 0;
}
