@import '../mixins';

.commit-list {
  padding: 32px 48px 35px 40px;
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
}

.empty {
  text-align: center;
}

.loading {
  margin-top: 32px;
}

.end {
  @include nitti-grotesk-light;
  text-align: center;
  color: #7F8C8D;
}
