.loading {
  margin-top: 100px;
}

.error {
  text-align: center;
  color: #4A4A4A;

  h2 {
    padding-top: 50px;
  }

  a {
    cursor: pointer;
  }

  a:hover {
    color: #000000;
  }

  small {
    font-family: "Lucida Console", Monaco, monospace;
  }
}
