@import '../../mixins';
@import '../../definitions';

.field {
  margin-bottom: 4px;
  position: relative;

  input,
  textarea {
    background: white;
    border: 1px solid $minard-lightest-gray;
    border-radius: 3px;
    outline: none;

    width: 100%;
    padding: 2px 8px;

    @include nitti-grotesk-regular;
    @include font-size-M;
    line-height: 22px;
    color: $minard-dark-blue;

    &[disabled=disabled],
    &:disabled {
      color: $minard-mid-gray;
      background: $minard-lightest-gray;
    }
  }

  textarea {
    resize: none;
  }

  ::placeholder {
    color: $minard-mid-gray;
  }
  :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: $minard-mid-gray;
  }

  .error {
    position: absolute;
    right: 8px;
    top: 2px;
    @include font-size-M;
    color: $minard-red;
    letter-spacing: -0.21px;
    line-height: 22px;
    z-index: 1;
  }
}
