@import '../../mixins';
@import '../../definitions';

:global {
  .ReactModal__Overlay {
    opacity: 0;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .ReactModal__Overlay--after-open {
    opacity: 1;
    transition: opacity 150ms ease-out;
  }

  .ReactModal__Overlay--before-close {
    opacity: 0;
  }

  .ReactModal__Content {
    // transform: scale(0.5) rotateX(-30deg);
  }

  .ReactModal__Content--after-open {
    // transform: scale(1) rotateX(0deg);
    // transition: all 150ms ease-in;
  }

  .ReactModal__Content--before-close {
    // transform: scale(0.5) rotateX(30deg);
  }
}

.dialog {
  z-index: 100;
  position: relative;
  margin: 0 auto 20px auto;
  top: 0;
  width: 580px;
  border: none;
  outline: none;
  background: white;

  box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.10);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.overlay {
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background: linear-gradient(to right, rgba(23, 183, 183, 0.9), rgba(84, 198, 168, 0.9));
}

.header, .footer {
  padding: 0 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  height: 72px;
  background-color: $minard-dark-gray;
  color: white;

  @include nitti-grotesk-medium;
  @include font-size-M;
  letter-spacing: −0.11px;

  .close {
    color: $minard-cyan;
    cursor: pointer;

    &:hover {
      color: white;
    }
  }
}

.form {
  padding: 48px 60px 60px 60px;

  color: $minard-dark-blue;
}

.footer {
  background: $minard-lightest-gray;
  height: 95px;
  flex-direction: row-reverse;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  @include nitti-grotesk-medium;
}

.primary-actions {
    display: flex;
    align-items: center;
  }

.submit {
  background: white;
  border: 1px solid $minard-light-gray;
  outline: none;
  border-radius: 5px;
  padding: 14px 24px;
  width: 164px;
  cursor: pointer;

  @include font-size-M;
  color: $minard-cyan;

  &:hover {
    background: $minard-cyan;
    color: white;
  }

  &[disabled=disabled], &:disabled {
    cursor: default;
    pointer-events: none;
    color: $minard-disabled-mid-gray;
    background: white;
  }
}

.reset {
  @extend .submit;

  @include font-size-MS;
  width: 220px;
  padding: 10px 0px;
}

.cancel {
  margin-right: 28px;
  @include font-size-M;
  color: $minard-mid-gray;

  &:hover {
    color: $minard-dark-blue;
  }

  &.disabled-link {
    cursor: default;
    color: $minard-light-gray;
  }

  &.disabled-link:hover {
    color: $minard-light-gray;
  }
}

.delete {
  @include font-size-M;
  color: $minard-red;

  &:hover {
    color: $minard-dark-red;
  }
}

.general-error {
  width: 508px;
  position: relative;
  left: -24px;
  top: -24px;
  padding: 14px 28px 14px 18px;
  margin-bottom: 12px;
  background: $minard-red;
  border-radius: 3px;

  @include font-size-M;
  color: white;
  letter-spacing: -0.21px;
  line-height: 21px;
}

.template-dropdown {
  width: 210px;
}
