.card {
  width: 100%;
}

.screenshot {
  width: 100%;
  object-fit: cover;
}

.card-top {
  height: 244px;
}

.card-middle {
  padding: 36px;
  height: 178px;
  background-color: #ffffff;

  h3 {
    margin-top: 0;
  }
}

.card-bottom {
  padding: 18px 36px;
  height: 76px;
  background-color: #fbfbfb;

  color: #7f8c8d;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.67;
}

.spread {
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 21px;
  font-weight: 400;
  color: #2c3e50;
}

.description {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  color: #4a4a4a;
}

.preview-icon {
  margin-right: 6px;
}

.action {

}

.timestamp {
  font-size: 10px;
}

.open {
  font-weight: 600;
  color: #21bab5;
}
