@import '../definitions';

.comment-list {
  border-top: 1px solid $minard-light-gray;
  padding: 8px 0px;
  background: white;
}

.comment {
  padding: 12px 24px;
}

.highlighted {
  background-color: $minard-light-yellow;
}
