@import '../mixins';
@import '../definitions';

.commit-summary {
  padding: 15px 23px;
  color: $minard-dark-blue;
  line-height: 24px;
}

.metadata {
  @include nitti-grotesk-medium;
  @include font-size-M;

  a {
    color: $minard-cyan;
  }
}

.commit-message {
  @include nitti;
  @include font-size-MS;
  line-height: 18px;
  margin-top: 8px;
}

.bottom {
  margin-top: 20px;
}

.open-link {
  @include nitti-grotesk-medium;
  @include font-size-MS;
  color: $minard-mid-gray;
}
