@import '../mixins';

.header {
  height: 53px;
  padding: 15px 24px;
  border-bottom: 1px solid #EFEFEF;
  line-height: 24px;
}

.tab {
  @include nitti-grotesk-medium;
  @include font-size-M;
  color: #95A5A6;
  margin-right: 22px;
  padding-bottom: 13px;

  &.selected {
    color: #2C3E50;
    border-bottom: 3px solid #2C3E50;
  }

  &.disabled {
    color: #D8D8D8;
  }
}

.toggle-open {
  float: right;
  @include font-size-S;
  color: #95A5A6;
}

.comment-count {
  position: absolute;
  right: 64px;
  top: 15px;

  color: #4a4a4a;
  margin-right: 24px;
  @include font-size-M;

  .icon {
    @include font-size-M;
    margin-left: 5px;
  }

  &:hover {
    color: #000000;
  }
}

.open {
  color: #2EBDB1;

  &:hover {
    color: #000000;
  }
}

.icon {
  margin-right: 4px;
  @include font-size-S;
}
