@import '../mixins';
@import '../definitions';

.header {
  height: 53px;
  padding: 15px 24px;
  border-bottom: 1px solid #EFEFEF;
  line-height: 24px;
}

.tab {
  @include nitti-grotesk-medium;
  @include font-size-M;
  color: $minard-mid-gray;
  margin-right: 22px;
  padding-bottom: 13px;

  &.selected {
    color: $minard-dark-blue;
    border-bottom: 3px solid #2C3E50;
  }

  &.disabled {
    color: $minard-light-gray;
  }
}

.toggle-open {
  float: right;
  @include font-size-S;
  color: $minard-mid-gray;
}

.comment-count {
  position: absolute;
  right: 64px;
  top: 15px;

  color: $minard-dark-blue;
  margin-right: 24px;
  @include font-size-M;

  .icon {
    @include font-size-M;
    margin-left: 5px;
  }

  &:hover {
    color: black;
  }
}

.open {
  color: $minard-cyan;

  &:hover {
    color: black;
  }
}

.icon {
  margin-right: 4px;
  @include font-size-S;
}
