.add-project-link {
  font-size: 14px;
  font-weight: 600;
  text-align: right;
  color: #2ebdb1;
  cursor: pointer;

  &:hover {
    color: #0F807E;
  }
}

.team {
  font-weight: 400;
}

.project-card {
  max-width: 450px;
}

.loading {
  margin-top: 100px;
}

.show-all-projects-section {
  margin: 48px 36px 72px 0;
}

.show-all-projects-link {
  font-size: 15px;
  font-weight: 600;
  text-align: right;
  color: #2ebdb1;
}
