@import '../mixins';

.add-project-link {
  @include nitti-grotesk-bold;
  font-size: 18px;
  color: #2EBDB1;

  text-align: right;

  &:hover {
    color: #0F807E;
  }
}

.team {
  @include nitti-grotesk-regular;
}

.project-card {
  max-width: 450px;
}

.loading {
  margin-top: 100px;
}

.show-all-projects-section {
  margin: 48px 36px 72px 0;
}

.show-all-projects-link {
  @include nitti-grotesk-medium;
  font-size: 17px;
  color: #2EBDB1;

  text-align: right;

  &:hover {
    color: #0F807E;
  }
}

.empty {
  @include nitti-grotesk-light;
  text-align: center;
  color: #7F8C8D;
  margin-bottom: 70px;

  h2 {
    margin-top: 8px;
  }
}
