@mixin nitti {
  font-family: Nitti, "Lucida Console", Monaco, monospace;
  font-weight: normal;
}

@mixin nitti-grotesk-light {
  font-family: "Nitti Grotesk Light", "Open Sans", sans-serif;
  font-weight: lighter;
}

@mixin nitti-grotesk-semilight {
  font-family: "Nitti Grotesk Semilight", "Open Sans", sans-serif;
  font-weight: normal;
}

@mixin nitti-grotesk-regular {
  font-family: "Nitti Grotesk", "Open Sans", sans-serif;
  font-weight: normal;
}

@mixin nitti-grotesk-medium {
  font-family: "Nitti Grotesk Medium", "Open Sans", sans-serif;
  font-weight: normal;
}

@mixin nitti-grotesk-bold {
  font-family: "Nitti Grotesk", "Open Sans", sans-serif;
  font-weight: bold;
}

@mixin font-size-S {
  font-size: 0.875rem;
}

@mixin font-size-MS {
  font-size: 1rem;
}

@mixin font-size-M {
  font-size: 1.125rem; // 18px
}

@mixin font-size-L {
  font-size: 1.591rem;
}

@mixin font-size-XL {
  font-size: 2.249rem;
}

@mixin font-size-XXL {
  font-size: 3.181rem;
}
