@mixin nitti {
  font-family: Nitti, "Lucida Console", Monaco, monospace;
  font-weight: normal;
}

@mixin nitti-grotesk-bold {
  font-family: "Nitti Grotesk", "Open Sans", sans-serif;
  font-weight: bold;
}

@mixin nitti-grotesk-light {
  font-family: "Nitti Grotesk Light", "Open Sans", sans-serif;
  font-weight: normal;
}

@mixin nitti-grotesk-medium {
  font-family: "Nitti Grotesk Medium", "Open Sans", sans-serif;
  font-weight: normal;
}

@mixin nitti-grotesk-regular {
  font-family: "Nitti Grotesk", "Open Sans", sans-serif;
  font-weight: normal;
}
