:global {
 .zoom-in-enter {
    transform: scale(0.1);
    opacity: 0.3;
  }

  .zoom-in-enter.zoom-in-enter-active {
    transform: scale(1);
    opacity: 1;
    transform-origin: center top;
    transition: all linear 300ms;
  }

  .zoom-out-enter {
    transform: scale(3);
    opacity: 0.3;
  }

  .zoom-out-enter.zoom-out-enter-active {
    transform: scale(1);
    opacity: 1;
    transform-origin: center top;
    transition: all linear 300ms;
  }
}
