// colors
$minard-darkest-gray: #333333;
$minard-dark-gray: #4A4A4A;
$minard-mid-gray: #7F8C8D;
$minard-light-gray: #D8D8D8;
$minard-lightest-gray: #F2F2F2;

$minard-dark-cyan: #0F807E;
$minard-cyan: #40C1AC;
$minard-light-cyan: #95ffe7;

$minard-dark-blue: #273E52; // text color
$minard-light-red: #e74c3c;
$minard-red: #D0011B;
$minard-dark-red: #540006;
$minard-light-yellow: #fff8ba;

$minard-disabled-mid-gray: rgba(127, 140, 141, 0.6);
$minard-shadow: rgba(0,0,0,0.10);
