// colors
$minard-darkest-gray: #333333;
$minard-dark-gray: #4a4a4a;
$minard-mid-gray: #7f8c8d;
$minard-light-gray: #d8d8d8;
$minard-lightest-gray: #f2f2f2;

$minard-dark-cyan: #0f807e;
$minard-cyan: #40c1ac;
$minard-light-cyan: #95ffe7;

$minard-dark-blue: #273e52; // text color
$minard-light-red: #e74c3c;
$minard-red: #d0011b;
$minard-dark-red: #540006;
$minard-light-yellow: #fff8ba;

$minard-disabled-mid-gray: rgba(127, 140, 141, 0.6);
$minard-shadow: rgba(0, 0, 0, 0.10);

// margins
$triple-margin: 60px;
$double-margin: 40px;
$default-margin: 20px;
$half-margin: 10px;
$quarter-margin: 5px;

// responsive breakpoints
$breakpoint-md: 64em;
$breakpoint-sm: 48em;
