@import 'mixins';
@import 'definitions';

.header {
  height: 72px;

  @include nitti-grotesk-medium;
  @include font-size-M;
  color: white;
}

.header-background {
  background-image: linear-gradient(to left, #17b7b7, #54c6a8);
}

.link:last-child {
  margin: 0;
}

.link.active,
.link.active:hover {
  border-bottom: $minard-light-cyan 5px solid;
}

.link:hover {
  border-bottom: white 5px solid;
}

.logo {
  width: 130px;
  height: 35px;
}

.profile-container {
  text-align: right;
}

.team-dropdown {
  @include font-size-M;
}

.cover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  z-index: 1;
}
