:global {
  @import '~normalize.css/normalize';
  @import '~flexboxgrid/dist/flexboxgrid';

  *, *:before, *:after {
    box-sizing: border-box;
  }

  body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background-color: #f5f5f5;
    margin-bottom: 20px;
  }

  a, a:hover, a:focus {
    text-decoration: none;
    color: inherit;
  }

  h1, h2, h3, h4, h5 {
    font-weight: 200;
  }

  .flex {
    display: flex;
  }

  .container {
    @media only screen and (max-width: 48em) {
      padding: 0 10px;
    }
  }
}
