@import 'mixins';
@import 'definitions';

:global {
  @import '~normalize.css/normalize';
  @import '~flexboxgrid/dist/flexboxgrid';

  *, *:before, *:after {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    @include nitti-grotesk-regular;
    font-style: normal;
    background-color: $minard-lightest-gray;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }

  a, a:hover, a:focus {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }

  h1, h2, h3, h4, h5 {
    font-weight: normal;
  }

  .flex {
    display: flex;
  }

  .container {
    @media only screen and (max-width: 48em) {
      padding: 0 10px;
    }
  }
}
