@import 'mixins';
@import 'definitions';

.sub-header-background {
  background-color: white;
}

.sub-header {
  @include nitti-grotesk-semilight;
  @include font-size-L;
  letter-spacing: -0.3px;

  height: 60px;
  color: $minard-mid-gray;
  display: flex;
  align-items: center;

  a {
    color: $minard-dark-blue;
  }

  a:hover {
    color: black;
  }
}

.sub-header-link {
  // @include nitti-grotesk-medium;
  // @include font-size-MS;
  line-height: 1.79;
}

.sorting-dropdown {
  margin-left: 24px;
}

.caret {
  padding-left: 6px;
  position: relative;
  top: 2px;
}

.project-right {
  display: flex;
  align-items: center;
}

.avatar + .avatar {
  margin-left: 10px;
}

.project-settings {
  @include font-size-M;
  @include nitti-grotesk-medium;
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.project-settings-text {
  margin-left: 10px;
}
