@import '../../mixins';
@import '../../definitions';

.activity-group {
  padding: 30px 36px 28px 42px;
  background: white;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.05);
  border-radius: 3px;
  margin-bottom: 18px;
}

.activity-group:last-child {
  margin-bottom: 0;
}

.loading {
  height: 182px;
}

.timestamp {
  @include font-size-MS;
  color: $minard-mid-gray;
  letter-spacing: -0.5px;
  line-height: 25px;
}

.screenshot {
  padding-left: 20px;
}

.activity-content, .screenshot, .timestamp {
  padding-top: 0;
  padding-bottom: 0;
}

.line {
  color: $minard-lightest-gray;
  background-color: $minard-lightest-gray;
  height: 1px;
  font-size: 0;
  border: 0;
  margin: 12px 0px;
}

.loading {
  color: $minard-dark-blue;
}

.error {
  color: $minard-dark-blue;

  small {
    @include nitti;
  }

  a:hover {
    color: black;
  }
}

.metadata {
  display: flex;
  @include font-size-MS;
  color: $minard-mid-gray;
  margin-bottom: 12px;
  line-height: 25px;

  a:hover {
    color: $minard-dark-blue;
    text-decoration: underline;
  }
}

.metadata-author, .metadata-branch, .metadata-project, .metdata-deployment {
  @include nitti-grotesk-bold;
}

.metadata-project {
  color: $minard-cyan;

  &:hover {
    color: $minard-dark-cyan !important;
  }
}

.icon {
  margin-right: 6px;
}

.activity {
  margin-left: 2rem;
}

.action {
  margin-left: -18px;
  align-self: flex-start;
}

.share {
  margin-left: auto;
  @include font-size-S;
}
