@import '../../mixins';

.activity-group {
  padding: 30px 36px 28px 42px;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.05);
  border-radius: 3px;
  margin-bottom: 18px;
}

.activity-group:last-child {
  margin-bottom: 0;
}

.loading {
  height: 182px;
}

.timestamp {
  font-size: 14px;
  color: #95A5A6;
  letter-spacing: -0.5px;
  line-height: 25px;
}

.screenshot {
  padding-left: 20px;
}

.activity-content, .screenshot, .timestamp {
  padding-top: 0;
  padding-bottom: 0;
}

.line {
  color: #f0f0f0;
  background-color: #f0f0f0;
  height: 1px;
  font-size: 0;
  border: 0;
}

.loading {
  color: #4A4A4A;
}

.error {
  color: #4A4A4A;

  small {
    @include nitti;
  }

  a {
    cursor: pointer;
  }

  a:hover {
    color: #000000;
  }
}
