.activity {
  margin-left: 2rem;
}

.deployment-metadata {
  display: flex;
  font-size: 13px;
  color: #7F8C8D;
  margin-bottom: 12px;
  line-height: 1.92;

  a:hover {
    color: #2C3E50;
    text-decoration: underline;
  }
}

.deployment-metadata-author, .deployment-metadata-branch, .deployment-metadata-project {
  font-weight: 600;
}

.deployment-metadata-project {
  color: #2EBDB1;

  &:hover {
    color: #0F807E !important;
  }
}

.action {
  margin-left: -18px;
  align-self: flex-start;
}

.share {
  margin-left: auto;
  font-size: 11px;
}

.icon {
  margin-right: 6px;
}

.hover {
  :global {
    // This prevents a flicker on Safari once opacity reaches 1
    & .commit-message {
      -webkit-transform: translateZ(0);
      -webkit-backface-visibility: hidden;
    }

    & .commit-message::after {
      color: #2C3E50;
      transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
      font-family: "FontAwesome";
      font-size: 13px;
      content: "\f08e";
      opacity: 0;
      padding-left: 10px;
      font-weight: 400;
    }
  }
}

.hover:hover {
  :global {
    & .commit-message::after {
      opacity: 1;
    }
  }
}
