.activity {
  margin-left: 2rem;
}

.deployment-metadata {
  display: flex;
  font-size: 13px;
  color: #7F8C8D;
  margin-bottom: 12px;
  line-height: 1.92;

  a:hover {
    color: #2C3E50;
    text-decoration: underline;
  }
}

.deployment-metadata-author, .deployment-metadata-branch, .deployment-metadata-project {
  font-weight: 600;
}

.deployment-metadata-project {
  color: #2EBDB1;

  &:hover {
    color: #0F807E !important;
  }
}

.action {
  margin-left: -18px;
  align-self: flex-start;
}

.share {
  margin-left: auto;
  font-size: 11px;
}

.icon {
  margin-right: 6px;
}

.hover {
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  border-radius: 8px;
  position: relative;

  &:hover {
    background-color: #fafafa;
  }

  &:hover::after {
    opacity: 1;
  }

  &::after {
    color: #919D9F;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    position: absolute;
    font-family: "FontAwesome";
    font-size: 14px;
    content: "\f08e";
    top: 5px;
    right: 5px;
    width: 15px;
    height: 15px;
    opacity: 0;
  }
}
