@import '../../mixins';
@import '../../definitions';

.empty {
  @include nitti-grotesk-light;
  text-align: center;
  color: $minard-mid-gray;
  margin-bottom: 70px;

  h2 {
    margin-top: 8px;
  }
}
