// From Spectre.css: https://picturepan2.github.io/spectre/#avatars
// Add the class avatar to <img> element. There are 4 additional sizes available,
// including avatar-xl (64px), avatar-lg (48px), avatar-sm (24px), and avatar-xs (16px).
// By default, the avatar size is 32px.
//
// For users who don't have profile pictures, you may use their initials for avatars.
// Add the class avatar and avatar size class to <div> element. The attribute data-initial
// is the name appear inside the avatar.

.avatar {
  border-radius: 50%;
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 300;
  height: 32px;
  line-height: 1;
  margin: 0;
  position: relative;
  vertical-align: middle;
  width: 32px;
}

.shadow {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.avatar-xs {
  font-size: 8px;
  height: 16px;
  width: 16px;
}

.avatar-sm {
  font-size: 10px;
  height: 24px;
  width: 24px;
}

.avatar-40 {
  font-size: 16px;
  height: 40px;
  width: 40px;
}

.avatar-lg {
  font-size: 20px;
  height: 48px;
  width: 48px;
}

.avatar-xl {
  font-size: 26px;
  height: 64px;
  width: 64px;
}

.avatar-img {
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

.avatar-icon {
  background: #fff;
  border-radius: 50%;
  bottom: -.2em;
  height: 40%;
  padding: 5%;
  position: absolute;
  right: -.2em;
  width: 40%;
}

.avatar[data-initial] {
  background-color: #2ebdb1;
}

.avatar[data-initial]::after {
  color: #fff;
  content: attr(data-initial);
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
