@import '../mixins';
@import '../definitions';

.box {
  display: inline-block;
  border-radius: 3px;
  padding: 7px 16px;

  @include nitti-grotesk-medium;
  @include font-size-S;
  color: white;
  letter-spacing: -0.23px;
  line-height: 16px;
}

.icon {
  position: relative;
  top: 1px;
  margin: 0 8px 4px 0;
}

.error {
  background: $minard-red;
}

.building {
  background: $minard-cyan;
}

:global {
  .build-status-enter {
    opacity: 0.01;
  }

  .build-status-enter.build-status-enter-active {
    opacity: 1;
    transition: all 150ms;
  }

  .build-status-leave {
    opacity: 1;
  }

  .build-status-leave.build-status-leave-active {
    opacity: 0.01;
    transition: all 150ms;
  }
}
