.confirmable {
  position: relative;
}

.arrow-box:after, .arrow-box:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.arrow-box:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #ffffff;
  border-width: 8px;
  margin-left: -8px;
}
.arrow-box:before {
  border-color: rgba(216, 216, 216, 0);
  border-top-color: #D8D8D8;
  border-width: 9px;
  margin-left: -9px;
}

.popup {
  position: absolute;
  left: 50%;
  bottom: 100%;
  margin-left: -182px;
  margin-bottom: 12px;
  width: 364px;

  background: #FFFFFF;
  border: 1px solid #D8D8D8;
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.10);
  border-radius: 4px;

  color: #7F8C8D;

  .content {
    padding: 24px 28px;
    border-bottom: 1px solid #D8D8D8;

    .title {
      font-size: 16px;
      color: #2C3E50;
      margin-bottom: 8px;
    }

    .message {
      font-size: 14px;
      color: #7F8C8D;
      letter-spacing: -0.21px;
      line-height: 21px;
    }
  }

  .actions {
    height: 65px;
    padding: 0 18px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    .confirm {
      cursor: pointer;
      margin-left: 18px;
      padding: 7px 12px 9px 12px;
      border: none;
      outline: none;
      background: #D0021B;
      border-radius: 3px;
      font-size: 16px;
      color: #FFFFFF;

      &:hover {
        background: #540006;
      }
    }

    .cancel {
      cursor: pointer;
      font-size: 12px;
      color: #7F8C8D;

      &:hover {
        color: #2C3E50;
      }
    }
  }
}

:global {
  .confirm-popup-enter {
    opacity: 0;
    visibility: hidden;
    transform: scale(0.3);
    transform-origin: bottom;
  }

  .confirm-popup-enter.confirm-popup-enter-active {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition: all 150ms;
  }

  .confirm-popup-leave {
    opacity: 1;
  }

  .confirm-popup-leave.confirm-popup-leave-active {
    opacity: 0.01;
    transition: opacity 150ms;
  }
}
