@import '../mixins';
@import '../definitions';

.dialog {
  width: 400px;
  background-color: white;
  margin: 2rem auto;
  box-shadow: 0px 3px 5px $minard-shadow;

  @media (max-width: 480px) {
    width: 90%;
    margin: 1rem auto;
  }

  @media (max-width: 360px) {
    width: 100%;
    margin: 0;
    box-shadow: none;
  }
}

.header {
  width: 100%;
  line-height: 64px;
  vertical-align: middle;
  padding: 0 1.5rem;
  margin: 0;
  background-color: $minard-dark-gray;

  @include nitti-grotesk-medium;
  color: white;
}

.content {
  @include nitti-grotesk-light;
  @include font-size-M;
  padding: 1.5rem;
  min-height: 168px;

  :first-child {
    margin-top: 0;
  }

  strong,
  bold {
    @include nitti-grotesk-medium;
  }

  code {
    @include nitti;
  }

  a {
    color: $minard-cyan;
  }
}

.button-container {
  width: 100%;
  border-top: 1px solid $minard-light-gray;
  text-align: right;

  button {
    margin: 1rem 1.5rem;
    padding: 0.5rem 1rem;
    color: $minard-cyan;
    border: 1px solid $minard-light-gray;
    border-radius: 5px;
    background-color: white;
    @include nitti-grotesk-medium;
    @include font-size-MS;
    cursor: pointer;

    &:hover {
      border: 1px solid $minard-cyan;
    }
  }
}
