.pile {
  position: relative;
  width: 138px;
  height: 115px;
  text-align: center;
}

.empty {
  padding: 25px 0;
}

.screenshot {
  width: 120px;
  height: 100px;
  position: absolute;
  display: block;
  height: auto;
  max-width: 90%;
  object-fit: contain;
  border-radius: 1px;
  border: solid 1px #d8d8d8;
}

.screenshot-0 {
  top: 0px;
  left: 0px;
  z-index: 5;
}

.screenshot-1 {
  top: 4px;
  left: 4px;
  z-index: 4;
  opacity: 0.8;
}

.screenshot-2 {
  top: 8px;
  left: 8px;
  z-index: 3;
  opacity: 0.6;
}

.screenshot-3 {
  top: 12px;
  left: 12px;
  z-index: 3;
  opacity: 0.2;
}
