@import '../mixins';

.commit-content {
  display: flex;
}

.avatar {
  padding-right: 14px;
}

.commit-metadata {
  @include nitti-grotesk-medium;
  font-size: 14px;
  line-height: 18px;
  color: #919D9F;
}

.author {
  color: #4A4A4A;
}

.commit-body {
  @include nitti;
  font-size: 17px;
  letter-spacing: -0.5px;
  color: #2C3E50;
}

.message {
  line-height: 23px;
}

.description {
  line-height: 23px;
  font-size: 12px;
}

.error {
  color: #919D9F;

  small {
    @include nitti;
  }
}
