@import '../mixins';
@import '../definitions';

.single-comment {
  @include nitti-grotesk-regular;
  margin-bottom: 24px;
  display: flex;

  &:last-child {
    margin-bottom: 0px;
  }
}

.avatar {
  margin-right: 14px;
}

.comment-content {
  width: 100%;
}

.metadata {
  line-height: 20px;
  color: $minard-mid-gray;
  @include font-size-MS;
}

.author-name {
  color: $minard-dark-blue;
}

.actions {
  @extend .metadata;
  float: right;
}

.delete:hover {
  color: $minard-dark-blue;
}

.comment-message {
  color: $minard-dark-blue;
  line-height: 24px;
  @include font-size-M;
  @include nitti-grotesk-semilight;
}
