@import '../mixins';
@import '../definitions';

.single-comment {
  @include nitti-grotesk-regular;
  padding-top: $half-margin;
  padding-bottom: $half-margin;
  display: flex;

  &:first-child {
    padding-top: $default-margin;
  }

  &:last-child {
    padding-bottom: $default-margin;
  }
}

.avatar {
  margin-right: $half-margin;
}

.comment-content {
  width: 100%;
}

.metadata {
  line-height: 20px;
  color: $minard-mid-gray;
  @include font-size-MS;
}

.author-name {
  color: $minard-dark-blue;
}

.actions {
  @extend .metadata;
  float: right;
}

.delete:hover {
  color: $minard-dark-blue;
}

.comment-message {
  color: $minard-dark-blue;
  line-height: 24px;
  @include font-size-M;
  @include nitti-grotesk-semilight;
}

.timestamp {
  white-space: nowrap;
}
