@import '../mixins';

.single-comment {
  @include nitti-grotesk-regular;
  margin-bottom: 24px;
  display: flex;

  &:last-child {
    margin-bottom: 0px;
  }
}

.avatar {
  margin-right: 14px;
}

.comment-content {
  width: 100%;
}

.metadata {
  line-height: 20px;
  color: #919D9F;
  @include font-size-MS;
}

.author-name {
  color: #4A4A4A;
}

.actions {
  @extend .metadata;
  float: right;
}

.delete:hover {
  color: #4A4A4A;
}

.comment-message {
  color: #2C3E50;
  line-height: 24px;
  @include font-size-M;
  letter-spacing: -0.31px;
}
