@import '../mixins';
@import '../definitions';

.commit-content {
  display: flex;
}

.avatar {
  padding-right: 14px;
}

.commit-metadata {
  @include nitti-grotesk-regular;
  line-height: 20px;
  @include font-size-S;
  color: $minard-mid-gray;
}

.author {
  color: $minard-dark-blue;
}

.commit-body {
  @include nitti;
  @include font-size-M;
  line-height: 24px;
  letter-spacing: -0.5px;
  color: $minard-dark-blue;
}

.message {
  line-height: 23px;
}

.description {
  line-height: 23px;
  @include font-size-MS;
}

.error {
  color: $minard-mid-gray;

  small {
    @include nitti;
  }
}
