.menu {
  position: relative;
  display: inline-block;
  text-align: left;
}

.caret {
  padding-left: 6px;
  position: relative;
  top: 2px;
  transition: transform 150ms;
  transform: rotate(0);
  transform-origin: 70% 50%; // The icon isn't perfectly centered

  &.rotate {
    transform: rotate(180deg);
  }
}

.link {
  cursor: pointer;
}

.options {
  position: absolute;
  left: 0;
  top: 2rem;
  font-size: 1rem;
}

:global {
  .options-enter {
    opacity: 0.01;
  }

  .options-enter.options-enter-active {
    opacity: 1;
    transition: opacity 150ms;
  }

  .options-leave {
    opacity: 1;
  }

  .options-leave.options-leave-active {
    opacity: 0.01;
    transition: opacity 150ms;
  }
}

.option {
  height: 2rem;
  background-color: white;
  color: black;
  padding: 0.5rem 1rem;
  width: 100%;
  cursor: pointer;

  &:hover {
    background-color: lightgray;
  }
}

.option + .option {
  border-top: 1px solid gray;
}
