@import '../mixins';

.branch {
  padding: 30px 36px 28px 32px;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.05);
  border-radius: 3px;
  margin-bottom: 18px;
}

.branch:last-child {
  margin-bottom: 0;
}

.hover {
  :global {
    // This prevents a flicker on Safari once opacity reaches 1
    & .commit-message {
      transform: translateZ(0);
      backface-visibility: hidden;
    }

    & .commit-message::after {
      color: #2C3E50;
      transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
      font-family: "FontAwesome";
      font-size: 13px;
      content: "\f08e";
      opacity: 0;
      padding-left: 10px;
      font-weight: normal;
    }
  }
}

.hover:hover {
  :global {
    & .commit-message::after {
      opacity: 1;
    }
  }
}

.empty, .error {
  color: #919D9F;

  small {
    @include nitti;
  }

  a {
    cursor: pointer;
  }

  a:hover {
    color: #4a4a4a;
  }
}

.screenshot {
  padding-left: 20px;
  padding-top: 0;
  padding-bottom: 0;
}

.header {
  display: flex;
  margin-bottom: 12px;
}

.title {
  font-size: 26px;
  letter-spacing: -0.5px;
  color: #2C3E50;
}

.description {
  font-size: 16px;
  line-height: 24px;
  color: #4A4A4A;
}

.line {
  color: #f0f0f0;
  background-color: #f0f0f0;
  height: 1px;
  font-size: 0;
  border: 0;
  margin: 20px 0 23px 0;
}
