@import '../mixins';
@import '../definitions';

.branch {
  padding: 20px;
  background: white;
  border-radius: 3px;
  margin-bottom: 18px;
  border-radius: 3px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
}

.branch:last-child {
  margin-bottom: 0;
}

.hover {
  :global {
    // This prevents a flicker on Safari once opacity reaches 1
    & .commit-message {
      transform: translateZ(0);
      backface-visibility: hidden;
    }

    & .commit-message::after {
      color: $minard-dark-blue;
      transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
      font-family: "FontAwesome";
      @include font-size-S;
      content: "\f08e";
      opacity: 0;
      padding-left: 10px;
      font-weight: normal;
    }
  }
}

.hover:hover {
  :global {
    & .commit-message::after {
      opacity: 1;
    }
  }
}

.empty, .error {
  color: $minard-mid-gray;
  small {
    @include nitti;
  }
  a:hover {
    color: $minard-dark-gray;
  }
}

.screenshot {
  padding-left: 20px;
  padding-top: 0;
  padding-bottom: 0;
}

.header {
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
}

.title {
  @include font-size-L;
  @include nitti-grotesk-semilight;
  color: $minard-dark-blue;
}

.build-status {
  margin-left: 18px;
  position: relative;
  top: 1px;
}

.links {
  border-top: 1px solid $minard-lightest-gray;
  margin-top: 20px;
  padding-top: 20px;
}

.link-disabled {
  opacity: 0.3;
}

.commit-content {
  display: flex;
  align-items: center;
  color: #7F8C8D;
  @include font-size-MS;
}

.avatar {
  margin-right: 14px;
}

.author {
  color: #4A4A4A;
  @include nitti-grotesk-regular;
}

.link {
  display: flex;
  align-items: center;
  color: $minard-mid-gray;
}

.link-text {
  margin-left: 10px;
}
