@import '../mixins';
@import '../definitions';

.branch {
  background: white;
  margin-bottom: $default-margin;
  @include minard-card;
}

.branch:last-child {
  margin-bottom: 0;
}

.hover {
  :global {
    // This prevents a flicker on Safari once opacity reaches 1
    & .commit-message {
      transform: translateZ(0);
      backface-visibility: hidden;
    }
    & .commit-message::after {
      color: $minard-dark-blue;
      transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
      font-family: "FontAwesome";
      @include font-size-S;
      content: "\f08e";
      opacity: 0;
      padding-left: $half-margin;
      font-weight: normal;
    }
  }
}

.hover:hover {
  :global {
    & .commit-message::after {
      opacity: 1;
    }
  }
}

.empty, .error {
  color: $minard-mid-gray;
  small {
    @include nitti;
  }
  a:hover {
    color: $minard-dark-gray;
  }
}

.screenshot {
  padding-left: $default-margin;
  padding-top: 0;
  padding-bottom: 0;
}

.main {
  padding: $default-margin;
}

.header {
  margin-bottom: $half-margin;
}

.title {
  @include font-size-L;
  @include nitti-grotesk-semilight;
  color: $minard-dark-blue;
}

.build-status {
  display: block;
  margin-top: $half-margin;
}

.links {
  border-top: 1px solid $minard-lightest-gray;
  margin: 0 $default-margin;
}

.link-disabled {
  opacity: 0.3;
}

.commit-content {
  display: flex;
  align-items: center;
  color: $minard-mid-gray;
  @include font-size-MS;
}

.avatar {
  margin-right: $half-margin;
}

.author {
  color: $minard-dark-blue;
  @include nitti-grotesk-regular;
}

.link {
  display: flex;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  color: $minard-mid-gray;

  &:hover {
    color: $minard-dark-blue;
  }
}

.link-text {
  margin-left: $half-margin;
}
