@import '../mixins';
@import '../definitions';

.instructions {
  text-align: left;
}

.section {
  margin-bottom: 24px;
}

.heading {
  @include font-size-L;
  color: $minard-dark-blue;
  margin-top: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.heading-icon {
  @include font-size-MS;
  margin-right: 10px;
  color: $minard-dark-blue;
}

.text {
  @include font-size-M;
  line-height: 1.62;
  color: $minard-dark-blue;
  margin-top: 12px;
}

.url {
  @include nitti-grotesk-medium;
  color: $minard-cyan;
  @include font-size-M;
  padding-bottom: 20px;
}

.code {
  @include nitti;
  @include font-size-S;
  letter-spacing: -0.38px;
  line-height: 21px;

  display: inline-block;
  padding: 0 12px;
  margin: 12px 0 0 0;
  max-width: 100%;
  overflow-x: auto;
  background: white;
  border-radius: 2px;
  color: $minard-dark-blue;
  text-align: left;
}
