@import '../mixins';
@import '../definitions';

.instructions {

}

.section {
  margin-bottom: 24px;
}

.text {
  @include font-size-L;
  line-height: 1.62;
  color: $minard-dark-blue;
  margin-top: 12px;
}

.smaller-text {
  @include nitti-grotesk-light;
  @include font-size-M;
  line-height: 1.62;
  color: $minard-dark-blue;
}

.url {
  @include nitti-grotesk-medium;
  color: $minard-cyan;
  @include font-size-M;
  padding-bottom: 20px;
}

.code {
  @include nitti;
  @include font-size-S;
  letter-spacing: -0.38px;
  line-height: 21px;

  display: inline-block;
  padding: 0 12px;
  margin: 12px 0;
  max-width: 100%;
  overflow-x: auto;
  background: $minard-dark-blue;
  border-radius: 2px;
  color: white;
  text-align: left;
}
