@import '../mixins';
@import '../definitions';

.root {
  margin-top: 20px;
}

.loading {
  margin-top: 100px;
}

.error {
  text-align: center;
  color: $minard-dark-blue;

  h2 {
    padding-top: 50px;
  }

  a:hover {
    color: black;
  }

  small {
    @include nitti;
  }
}

.branches {
  display: none;
  @media(min-width: $breakpoint-sm) {
    display: block;
  }
}
