@import '../mixins';

.title {
  font-size: 60px;
  letter-spacing: -2px;
  color: #2C3E50;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.description {
  font-size: 26px;
  color: #2C3E50;
  line-height: 34px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.settings {
  position: relative;
  top: 48px;

  @include nitti-grotesk-medium;
  font-size: 18px;
  color: #95a5a6;
}

.icon {
  font-size: 15px;
  padding-right: 4px;
}

.avatars {
  position: relative;
  top: -16px;
}

.avatar {
  margin-left: 6px;
}

.avatar:first-child {
  margin-left: 0;
}
