@import '../mixins';
@import '../definitions';

.title {
  @include font-size-XXL;
  letter-spacing: -2px;
  color: $minard-dark-blue;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.description {
  @include font-size-L;
  color: $minard-dark-blue;
  line-height: 34px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.settings {
  position: relative;
  top: 48px;

  @include nitti-grotesk-medium;
  @include font-size-M;
  color: $minard-mid-gray;
}

.icon {
  @include font-size-MS;
  padding-right: 4px;
}

.avatars {
  position: relative;
  top: -16px;
}

.avatar {
  margin-left: 6px;
}

.avatar:first-child {
  margin-left: 0;
}
