@import '../mixins';
@import '../definitions';

.root-all {
  margin-top: 20px;
}

.inner {
  max-width: 600px;
}

.empty {
  @include nitti-grotesk-light;
  text-align: center;
  color: $minard-mid-gray;

  h2 {
    margin-top: 8px;
  }
}

.error {
  @include nitti-grotesk-light;
  text-align: center;
  color: $minard-dark-blue;

  small {
    @include nitti;
  }
}

.show-all-branches-link {
  @include nitti-grotesk-medium;
  @include font-size-M;
  display: block;
  margin-top: 20px;
  color: $minard-cyan;
  text-align: right;
}

.loading {
  margin-top: 14px;
  margin-bottom: 15px;
}
