@import '../mixins';
@import '../definitions';

.section {
  margin-bottom: 36px;
}

.label {
  margin-right: 12px;
  margin-top: 25px;

  @include nitti-grotesk-medium;
  @include font-size-M;
  letter-spacing: -0.21px;
  line-height: 24px;
}

.heading {
  @include font-size-L;
  color: $minard-dark-blue;
  margin-top: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.heading-icon {
  @include font-size-MS;
  margin-right: 10px;
  color: $minard-dark-blue;
}

.text {
  @include font-size-M;
  color: $minard-dark-blue;
  letter-spacing: -0.17px;
  line-height: 24px;
  margin-bottom: 4px;
  margin-top: 12px;

  code {
    @include nitti;
    @include font-size-MS;
    background-color: $minard-dark-blue;
    color: white;
    padding-left: 2px;
    padding-right: 2px;
  }
}

.url {
  color: $minard-cyan;
  @include nitti-grotesk-medium;
  @include font-size-M;
}

.code {
  padding: 0 12px;
  width: 100%;
  overflow-x: auto;
  background: $minard-dark-blue;
  border-radius: 2px;
  @include font-size-S;
  color: white;
  letter-spacing: -0.38px;
  line-height: 21px;
}
