@import '../mixins';

.section {
  margin-bottom: 36px;
}

.label {
  margin-right: 12px;

  @include nitti-grotesk-medium;
  font-size: 17px;
  letter-spacing: -0.21px;
  line-height: 24px;
}

.text, .smaller-text {
  font-size: 14px;
  color: #7F8C8D;
  letter-spacing: -0.17px;
  line-height: 24px;
  margin-bottom: 4px;
  margin-top: 12px;
}

.url {
  color: #2EBDB1;
  @include nitti-grotesk-medium;
  font-size: 18px;
}

.code {
  padding: 0 12px;
  max-width: 100%;
  overflow-x: auto;
  background: #2C3E50;
  border-radius: 2px;
  font-size: 13px;
  color: #FFFFFF;
  letter-spacing: -0.38px;
  line-height: 21px;
}
