.header {
  margin-bottom: 1rem;
}

.title {
  line-height: 1;
  font-size: 1.4em;
  margin-bottom: .5rem;
  margin-top: 0;
}

.description {
  color: darkgray;
  font-size: 1em;
  margin-bottom: 0;
  margin-top: 0;
}
