.hash {
   margin-left: auto;
   color: darkgray;
   font-weight: 200;
}

.header {
  -webkit-align-self: flex-start;
  align-self: flex-start;
  margin-bottom: 1rem;
}

.avatarBox {
  width: 48px;
  margin-right: 1rem;
  padding: 1rem 0;
}

.commitContent {
  width: 100%;
  padding: 1rem;
}

.title {
  margin-bottom: 0rem;
}

.description {
  color: gray;
  font-weight: 200;
  margin-bottom: 0rem;
}

.metadata {
  font-size: 0.9em;
  color: darkgray;
  flex-grow: 1;
}
