.screenshot {
  margin-right: 3rem;
}

.title {
  margin-bottom: 0.5rem;
}

.avatar {
  margin-right: 0.5rem;
}

.latestActivity {
   margin-left: auto;
   color: darkgray;
   font-weight: 200;
   text-align: right;
}

.activeUsers {
  -webkit-align-self: flex-start;
  align-self: flex-start;
}
