
:global {
  @import '~spectre.css/dist/spectre';

  // Add custom larger screen size
  @media screen and (min-width: 1220px) {
    .grid-1200 {
      width: 122rem;
    }
  }

  // Responsive navbar: https://github.com/picturepan2/spectre/issues/87
  .nav-default {
    background-color: #efefef;
    padding: 1rem;
    border-radius: .3rem;
  }

  .navbar {
    flex-flow: row wrap;
  }

  .navbar-section,
  .navbar-section ul {
    display: flex;
  }

  .navbar-section ul {
    margin: 0 0 0 2rem;
  }

  .navbar-section li {
    list-style: none;
    margin: 0;
    padding: 0 5px;
  }

  .btn.btn-link:hover {
    background: #5764c6 none repeat scroll 0 0;
    border-color: #4452c0;
    color: #ffffff;
  }

  @media screen and (min-width:10em) and (max-width:46em) {
    .navbar {
      flex-flow: column wrap;
      align-items: stretch;
    }
    .navbar-header {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
    }
    .navbar-section {
      display: flex;
      flex-flow: row wrap;
      margin-top: 15px;
    }
    .navbar-section ul {
      flex-flow: row wrap;
      margin: 2rem 0 0;
    }
    .navbar-section ul li {
      padding: 5px;
    }
  }

  @media screen and (max-width:25em) {
    .navbar-section ul {
      flex-flow: column wrap;
      width: 100%;
    }
    .navbar-section ul a {
      width: 100%;
    }
  }
}

